.header {
  width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e1e1e1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header i {
  display: inline-block;
	width: 30px;
	height: 30px;
}

.header-menu {
	background: url('./images/menu.svg') no-repeat center center;
	background-size: 100%;
	margin-left: 8px;
}
